.screen1 {
    border: 1px solid red;
    background-color: red;
    text-align: center !important;
}

.screen2 {
    border: solid 1px lightblue;
    background: lightblue;
    font-family: roboto sans-serif;
}
.screen3 {
    // border: 1px solid lightgray;
    background-color:darkcyan;
    margin-left: 0px;
    margin-right: 0px;
    font-family: roboto sans-serif;
}
.screen4 {
    border: 1px solid;
    background-color: seagreen;
    font-family: roboto sans-serif;
}
