// .back {  
//     // background: url(src/app/img/3.png) center/cover no-repeat;    
//     width:77%
// }

.button {
    border-radius: 4px;
    border: solid 1px lawngreen;
    color: lightseagreen;
}

.input {
        background-color: beige
}

.img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}