.button {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
.patient {
    border: 1px solid lightblue; 
    height:209px;
}

.table-border {
    margin-top: 19px;
    border: 1px solid lightblue;
    padding-top: 15px;
}
